[Desktop Entry]
Name=EasyKiConverter
Comment=EDA Component Converter for KiCad
Exec=EasyKiConverter
Icon=easykiconverter.svg
Terminal=false
Type=Application
Categories=Development;Electronics;